$red_color: #760505;
$grey_color: #707070;


body {
    width: 100%;
    height: fit-content;
    margin: 0 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    background-image: url(../img/SFONDOVECCHIONE.jpg);
    // background-repeat: repeat;
    background-size: cover;
    background-position: 50% 0;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
    font-family: inherit;
}

.sfumatura {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .8), transparent);
    z-index: -1;
}

.cont__header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_logo {
        margin-top: 10%;

        & > a > img {
            width: 300px;
            // height: 100%;
            object-fit: cover;
        }
    }

    &_cta {
        width: 65%;
        border-radius: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $red_color;
        margin-top: 10%;
        padding: 10px 35px;

        & p {
            line-height: 0px;
            color: #fff;
            font-weight: bold;
            font-size: 21px;

            & > a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

.cont__main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 5%;

    &_inside {
        width: 100%;
        height: fit-content;
        background-image: url(../img/rettangolosottoscritte.svg);
        padding: 35px;
        color: $grey_color;
        text-align: center;

        &_break {
            border: 1px solid $red_color;
            border-radius: 60%;
            background-color: $red_color;
            height: 4px;
        }
        
        & > p {
            line-height: 25px;
            font-size: 15px;
            text-align: left;
        }

        & > h2 {
            color: $red_color;
            text-align: left;
            font-weight: bold;
        }

        &_list {
            display: flex;
            flex-direction: column;
            padding-inline-start: 0;

            & > li {
                margin-top: 10px;
                text-align: left;
            }

            & > li:first-of-type {
                margin-top: 0px;
            }
        }
    }
}

.cont__footer {
    width: 100%;
    height: fit-content;
    background-color: #fff;

    &_inside {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;

        & > a > img {
            width: 200px;
            object-fit: contain;
        }
    }
    
    &_maps {
        width: 100%;
        height: 200px;
        border: 2px solid $grey_color;
        margin-top: 5%;

        & > iframe {
            width: 100%;
            height: 100%;
        }
    }

    &_contacts {
        padding-inline-start: 0;
        list-style: none;

        & > li {
            margin-top: 15px;
            color: $grey_color;
            font-weight: bold;
            transition: color .6s;

            &:hover {
                color: $red_color;
            }

            > a {
                text-decoration: none;
                color: $grey_color;
                transition: color .6s;

                &:hover {
                    color: $red_color;
                }
            }
        }

        & > li[class="social"] {
            width: 30%;
            margin: 10% auto 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;;

            & > a > img {
                width: 25px;
                object-fit: contain;
            }
        }
    }

    &_featured {
        width: 100%;
        background-color: $grey_color;
        text-align: center;
        font-weight: bold;
        padding: 10px 0px;

        &_inside {        
            display: flex;
            flex-direction: wrap;
            align-items: center;
            justify-content: center;
            width: 80%;
            margin: 0 auto; 
            
            & > p {
                font-size: 14px;
                color: #fff;
                font-weight: bold;
                
            }
    
            & > img {
                width: 105px;
                object-fit: contain;
                margin-left: 10px;
            }
        }  
    }
}

@media(min-width: 1024px){
    .cont__header {

        &_logo {
            margin-top: 5%;

            & > a > img {
                width: 400px;
            }
        }

        &_cta {
            justify-content: center;
            margin-top: 5%;
            width: fit-content;
            border-radius: 100px;
            padding: 0px 100px;

            & > p {
                font-size: 45px;

                & > a {
                    margin-top: -2.5%;
                }
            }
        }
    }

    .cont__main {
        max-width: 1980px;
        margin: 2.5% auto;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        height: 550px;

        &_inside {
            width: 48%;
            margin: 0;
            height: 550px;
            position: absolute;
            top: -15%;
            left: 0;
            z-index: -1;

            &_break[id="firstLine"] {
                display: none;
            }

            &_list {

                height: 400px;
                
                & > li {
                    margin-top: 25px;
                    text-align: left;
                    padding-inline-start: 0;
                }
            }

            & > p {
                height: 400px;
                line-height: 25px;
            }
        }

        &_inside[id="second"] {
            left: unset;
            right: 0;
        }

    }

    .cont__footer {

        &_inside {
            max-width: 1980px;
            margin: 0 auto;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 65px 50px;

            & > a > img {
                width: 350px;
            }
        }

        &_maps {
            width: 30%;
            height: 150px;
            margin: 0;
        }

        &_contacts {
            width: 35%;
            height: 150px;
            margin: 0;
            align-items: center;
        }
    }
}

::placeholder {
    color: $grey_color;
}