body {
  width: 100%;
  height: fit-content;
  margin: 0 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.3) 40%), url(../img/SFONDOVECCHIONE.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

.cont__header {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont__header_logo {
  margin-top: 10%;
}
.cont__header_logo img {
  width: 175px;
  height: 100%;
  object-fit: contain;
}
.cont__header_cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #760505;
  margin-top: 10%;
  padding: 10px 0;
}
.cont__header_cta p {
  line-height: 0px;
  color: #fff;
  font-weight: bold;
}
.cont__header_cta p > a {
  color: #fff;
  text-decoration: none;
}

.cont__main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.cont__main_inside {
  width: 100%;
  height: fit-content;
  background-image: url(../img/rettangolosottoscritte.svg);
  padding: 35px;
  color: #707070;
  text-align: center;
  margin-top: 10%;
}
.cont__main_inside_break {
  border: 1px solid #760505;
  border-radius: 60%;
  background-color: #760505;
  height: 4px;
}
.cont__main_inside > p {
  line-height: 25px;
}
.cont__main_inside_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont__main_inside_form > input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #760505;
  padding: 10px 15px;
  margin-top: 2vh;
}
.cont__main_inside_form > input[type=submit] {
  width: 125px;
  background-color: #760505;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.cont__footer {
  width: 100%;
  height: fit-content;
  background-color: #fff;
}
.cont__footer_inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.cont__footer_inside > a > img {
  width: 125px;
  object-fit: contain;
}
.cont__footer_maps {
  width: 100%;
  height: 200px;
  border: 2px solid #707070;
  margin-top: 5%;
}
.cont__footer_maps > iframe {
  width: 100%;
  height: 100%;
}
.cont__footer_contacts {
  padding-inline-start: 0;
  list-style: none;
}
.cont__footer_contacts > li {
  margin-top: 15px;
  color: #707070;
  font-weight: bold;
  transition: color 0.6s;
}
.cont__footer_contacts > li:hover {
  color: #760505;
}
.cont__footer_contacts > li > a {
  text-decoration: none;
  color: #707070;
  transition: color 0.6s;
}
.cont__footer_contacts > li > a:hover {
  color: #760505;
}
.cont__footer_contacts > li[class=social] {
  width: 30%;
  margin: 10% auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cont__footer_contacts > li[class=social] > a > img {
  width: 25px;
  object-fit: contain;
}
.cont__footer_featured {
  width: 100%;
  background-color: #707070;
  text-align: center;
  font-weight: bold;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}
.cont__footer_featured > p {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
.cont__footer_featured > img {
  width: 105px;
  object-fit: contain;
}

@media (min-width: 780px) {
  .cont__header_logo {
    margin-top: 5%;
  }
  .cont__header_logo > a > img {
    width: 260px;
  }
  .cont__header_cta {
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
  }

  .cont__main {
    max-width: 1980px;
    margin: 10% auto;
    flex-direction: row;
    justify-content: space-between;
  }
  .cont__main_inside {
    width: 45%;
    margin: 0;
  }
  .cont__main_inside > p {
    line-height: 25px;
  }

  .cont__footer_inside {
    max-width: 1980px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
  }
  .cont__footer_maps {
    width: 40%;
    height: 150px;
    margin: 0;
  }
  .cont__footer_contacts {
    width: 35%;
    height: 150px;
    margin: 0;
    align-items: center;
  }
}
::placeholder {
  color: #707070;
}

/*# sourceMappingURL=stile_generale.css.map */
