body {
  width: 100%;
  height: fit-content;
  margin: 0 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  background-image: url(../img/SFONDOVECCHIONE.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -1650px -707px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

.sfumatura {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 10%, transparent);
  z-index: -1;
}

.cont__header {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont__header_logo {
  margin-top: 10%;
}
.cont__header_logo > a > img {
  width: 300px;
  object-fit: cover;
}
.cont__header_cta {
  width: 65%;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #760505;
  margin-top: 10%;
  padding: 10px 35px;
}
.cont__header_cta p {
  line-height: 0px;
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  margin: 15px;
}
.cont__header_cta p > a {
  color: #fff;
  text-decoration: none;
}

.cont__main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.cont__main_inside {
  width: 100%;
  height: fit-content;
  background-image: url(../img/rettangolosottoscritte.svg);
  padding: 35px;
  color: #707070;
  text-align: center;
}
.cont__main_inside_break {
  border: 1px solid #760505;
  border-radius: 60%;
  background-color: #760505;
  height: 4px;
}
.cont__main_inside > p {
  line-height: 25px;
  font-size: 15px;
  text-align: left;
}
.cont__main_inside > h2 {
  color: #760505;
  text-align: left;
  font-weight: bold;
}
.cont__main_inside_list {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
}
.cont__main_inside_list > li {
  margin-top: 10px;
  text-align: left;
}
.cont__main_inside_list > li:first-of-type {
  margin-top: 0px;
}

.cont__footer {
  width: 100%;
  height: fit-content;
  background-color: #fff;
}
.cont__footer_inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.cont__footer_inside > a > img {
  width: 200px;
  object-fit: contain;
}
.cont__footer_maps {
  width: 100%;
  height: 200px;
  border: 2px solid #707070;
  margin-top: 5%;
}
.cont__footer_maps > iframe {
  width: 100%;
  height: 100%;
}
.cont__footer_contacts {
  padding-inline-start: 0;
  list-style: none;
}
.cont__footer_contacts > li {
  margin-top: 15px;
  color: #707070;
  font-weight: bold;
  transition: color 0.6s;
}
.cont__footer_contacts > li:hover {
  color: #760505;
}
.cont__footer_contacts > li > a {
  text-decoration: none;
  color: #707070;
  transition: color 0.6s;
}
.cont__footer_contacts > li > a:hover {
  color: #760505;
}
.cont__footer_contacts > li[class=social] {
  width: 30%;
  margin: 10% auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cont__footer_contacts > li[class=social] > a > img {
  width: 25px;
  object-fit: contain;
}
.cont__footer_featured {
  width: 100%;
  background-color: #707070;
  text-align: center;
  font-weight: bold;
  padding: 10px 0px;
}
.cont__footer_featured_inside {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.cont__footer_featured_inside > p {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
.cont__footer_featured_inside > img {
  width: 105px;
  object-fit: contain;
  margin-left: 10px;
}

@media (min-width: 1024px) {
  body {
    background-attachment: fixed;
    background-position: center;
  }

  .cont__header_logo {
    margin-top: 5%;
  }
  .cont__header_logo > a > img {
    width: 400px;
  }
  .cont__header_cta {
    justify-content: center;
    margin-top: 5%;
    width: fit-content;
    border-radius: 100px;
    padding: 0px 100px;
  }
  .cont__header_cta > p {
    font-size: 45px;
  }
  .cont__header_cta > p > a {
    margin-top: -2.5%;
  }

  .cont__main {
    max-width: 1980px;
    margin: 2.5% auto;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 550px;
  }
  .cont__main_inside {
    width: 48%;
    margin: 0;
    height: fit-content;
    position: absolute;
    top: -15%;
    left: 0;
    z-index: -1;
  }
  .cont__main_inside_break[id=firstLine] {
    display: none;
  }
  .cont__main_inside_list {
    height: 400px;
  }
  .cont__main_inside_list > li {
    margin-top: 25px;
    text-align: left;
    padding-inline-start: 0;
  }
  .cont__main_inside > p {
    height: 400px;
    line-height: 25px;
  }
  .cont__main_inside[id=second] {
    left: unset;
    right: 0;
  }

  .cont__footer_inside {
    max-width: 1980px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 65px 50px;
  }
  .cont__footer_inside > a > img {
    width: 350px;
  }
  .cont__footer_maps {
    width: 30%;
    height: 150px;
    margin: 0;
  }
  .cont__footer_contacts {
    width: 35%;
    height: 150px;
    margin: 0;
    align-items: center;
  }
}
::placeholder {
  color: #707070;
}

/*# sourceMappingURL=stile_generale.css.map */
